@media screen and (max-width: 600px) {
 Form {
     width: 100% !important;
     
  }
}


@media screen and (max-width: 600px) {
 .display-content{
      display: flex !important;
      flex-direction: column;
     
  }
}

@media screen and (max-width: 600px) {

.change-position{
     float: inline-start;
  }
}





